<b>
  <% if current_member.nil? %>
    Welcome admin!
  <% else %>
	  Welcome <%= current_member.firstname %>!
  <% end %>
</b>
<br />
<br />
We are excited to have you as a valued member of aep, and look forward to your involvement in our online community.
Please choose from the navigation options to your left, and feel free to <%= link_to 'contact us', 'mailto:admin@aepokc.com' %> with any feature requests or questions about using this site.
<br />
<br />
<div class="spacer">
</div>
<div class="gallery">
  <% @profiles.each do |p| %>
    <% if p.avatar_file_name.blank? %>
      <% unless p.tname.blank? %>
        <span class="thumb">
          <%= link_to image_tag('http://headhunter.heroku.com/'+p.tname), '/members/profiles/' + p.id.to_s %>
        </span>
      <% end %>
    <% else %>
      <span class="thumb">
        <%= link_to image_tag(p.avatar.url(:thumb)), '/members/profiles/' + p.id.to_s %>
      </span>
    <% end %>      
  <% end %>
</div>