body {
  background-color: #362f2d;
  color: #333;
  text-align: center;
}

body, p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.8em;  
  line-height: 1.6em;
}

table {
  text-align: left;
  margin: auto;
  padding: 20px 0 0 0;
}

th {
  padding: 0 5px 5px 0;
}

td {  
  padding: 0 5px 0 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #387d50; }
a:visited { color: #387d50; }
a:hover { color: #ccc; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.wrapper	{  
  border: 10px solid #fff;  
  min-width: 850px;  
  margin: auto;  
	background: #fff;
  display: inline-block;
}

.count	{
	margin: 5px 0 0 0;
	float: right;
	font-weight: bold;
	width: 170px;
	height: 100px;
}

.number	{
	margin: 10px 0 0 0;
	color: #ccc;
	font-size: 60px;
}

.hr	{
	border-top: 1px solid #ccc;
	margin-bottom: 10px;
}

#progress-bar {
  margin: auto;
  width: 50%;
  height: 32px;
  background-color: #e0e0e0;
  line-height: 2em;
}

.progress-fill {  
  background-color: #387D50;
  height: 32px;
}

.progress-count {
  width: 100%;
  color: white;
  vertical-align: center;
  text-align: center;
  font-weight: bold;
  line-height: 32px;
}

.clear	{
	clear: both;
	margin: 0;
	padding: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}

.center {
  margin: auto;
  text-align: center;
}