<b>
	Membership Application
</b>
<div class="hr">
</div>
All information will be kept private. Once the application is approved, you will have the opportunity to create a profile with information that is viewable to the public.<br />
<br />
<%= render 'form' %>
