<!DOCTYPE html>
<html>
	<head>
		<title>aep | the Alliance of Emerging Professionals</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-language" content="en-us" />
		<meta name="copyright" content="Alliance of Emerging Professionals, Inc" />
		<meta name="author" content="Run by sailoR" />
		<meta name="description" content="aep is a group of Oklahoma City young professionals dedicated to volunteer activities and community building. Partnered with the OKC Chamber, AEP facilitates networking events to enhance its members' careers and success in business." />
		<meta name="keywords" content="aepokc,aep Oklahoma City,young professionals organization,yp organization,alliance of emerging professionals,Oklahoma City yp,Oklahoma City young professionals,Oklahoma yp,Oklahoma young professionals,young professionals networking,Oklahoma City jobs,Oklahoma jobs,Oklahoma City professional networking,Oklahoma City job fair,Oklahoma job fair,Oklahoma City career fair,Oklahoma job fair,Oklahoma City volunteer,Oklahoma City leadership,Oklahoma City adult sports" />
		<%= csrf_meta_tag %>
		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
	</head>
	<frameset rows="100%">
		<frame src="https://74.63.10.134:20000/">
	</frameset>
</html>
