<b>
  Pay by mail
</b>
<div class="hr">
</div>
Many of our members' dues are paid by their employers. If you or your employer would like to mail a check, please send it to the following address:<br />
<br />
Alliance of Emerging Professionals, Inc.<br />
723 N Hudson Avenue<br />
Oklahoma City, OK, 73102<br />
<br />
Please do not mail cash. If you prefer to pay cash, please find a member of our leadership team at our <%= link_to 'next event', resources_events_path %>.