<b>
  New Payment
</b>
<div class="hr">
</div>
<div class="example">
  <b>A receipt will automatically be sent to the member once this payment is recorded.</b>
</div>
<br />
<%= render 'form' %>
<%= link_to 'Back', payments_path %>
