<p>Welcome <%= @member.firstname %> <%= @member.lastname %>!</p>

<p>An account has been created for you to take full advantage of the online aep community! In order to confirm your new account, please <%= link_to 'click here.', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
